<!doctype html>


<html>
<head>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>asd</title>
    <style>
        body{
            padding-top: 30px;
        }
        [data-order]:hover{
            cursor: pointer;
        }
        [data-order='asc']:after{
            content:"↑"
        }
        [data-order='desc']:after{
            content:"↓"
        }
        [data-region='aside'] tr{
            cursor: pointer !important;
        }
        [data-region='aside'] tr:hover{
            background:chartreuse;
        }
    </style>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.marionette.js"></script>
    <script src="js/marionette.layout.js"></script>
    <script src="js/marionette.generic/src/views.js"></script>
    <script src="js/marionette.generic/src/mixins.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>


    <script type="text/html" id="question-list-template">
        <input type="text" value="" data-action="search" data-on="keyup">
        <ul class="pager">
            <li class="previous"><a href="#" data-action="prev:page">Previous</a></li>
            <li class="next"><a href="#" data-action="next:page">Next</a></li>
        </ul>
        <span>Page: </span> <span data-bind='currentPage'>1</span>
        <span id="loading"></span>
        <pre data-bind='queryOptions'></pre>
        <table class="table">

            <thead>
            <tr>
                <th>Nick</th>
                <th>Question</th>
                <th data-action="sort" data-field="hot" data-order="desc">Votes</th>
                <th data-action="sort" data-field="votes" data-order="desc">Last activity</th>
                <th>Tags</th>
            </tr>
            </thead>

            <tbody></tbody>
        </table>
    </script>

    <script type="text/html" id="question-template">
        <td><%= owner.display_name %></td>
        <td><a href="<%= link %>" target="_blank"><%= title %></a></td>
        <td><%= score %></td>
        <td><%= last_activity_date %></td>
        <td><% _.each(tags,function(tag){ %>
            <span class="label label-success"><%= tag %></span>
            <% }) %></td>
    </script>


    <script type="text/html" id="tags-template">
        <h1>Tags</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>

    <script type="text/html" id="page-template">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav" data-region="aside">
                </div><!--/.well -->
            </div><!--/span-->
            <div class="span9" data-region="main"></div><!--/span-->
        </div><!--/row-->
    </script>
    <script type="text/html" id="tag-template">
        <td><%= name %></td>
        <td><span class="badge badge-info"><%= ~~(count/1000) %>K</span></td>
    </script>

</head>
<body>

    <div class="container-fluid" data-region="page">


        <hr>

        <footer>
            <p>© Company 2012</p>
        </footer>

    </div>
</body>
</html>